# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# my custom
# image source files
*.xcf
*.psd
*.ai

# temporary folders
# ルート以下全てのtmpディレクトリを無視
tmp/
# 念の為
**/tmp/

# Supabase接続確認用ページは無視
src/app/test-supabase/
# src/app/test-supabase/**

# VSCode workspace
_retreat_k.code-workspace