// @/app/globals.scss

@use '@/styles/shared/' as *;

:root {
  font-size: 93.75%; // 15px ÷ 16px ＝ 0.9375
  --ff-gothic: var(--font-gothic), -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Hiragino Sans", sans-serif;
  --ff-mincho: var(--font-mincho), "Georgia", "Times New Roman", "Yu Mincho", "Hiragino Mincho ProN", serif;
  --ff-title-min: var(--font-tegomin), serif;
  --ff-title-en: var(--font-title-en), serif;
  --ff-en: var(--font-en), serif;
  --ff-en-gothic: var(--font-en-gothic), sans-serif;
  --ff-mono: "SF Mono", "Monaco", "Inconsolata", "Fira Code", "Consolas", "Courier New", monospace;
}

html,
body {
  max-width: 100vw;
}

html {
  scroll-behavior: smooth;
}

// layout.jsで定義した変数が使えてしまうNext.jsの不思議
// var(--font-gothi, var(--font-minch, var(--font-title-en)
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: $color-black;
  background: $color-white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  flex: 1;
}

main > .container {
  @include content-width;
  margin-top: $navHeight;
  padding: 2rem .5rem;
  @include mq(lg) {
    padding: 4rem 12rem;
    &.detail {
      padding: 4rem 0;
    }
  }
}

section {
  padding: 2rem 0 2.5rem;
  border-top: 1px solid rgba($color: $color-black, $alpha: 0.3);
  &:first-child {
    padding-top: 0;
    border-top: unset;
  }  
  &:last-of-type {
    padding-bottom: 0;
  }
}

h1, h2, h3 {
  font-family: var(--ff-title-en);
  line-height: .95;
  color: rgba($color: $color-text, $alpha: .95);
}

h2, h3 {
  line-height: 1.2;
}

h1 {
  margin-bottom: 2rem;
  font-size: clamp(3rem, 7vw, 5rem);
}

h2 {
  margin-bottom: .75rem;
  font-size: clamp(2rem, 5vw, 3.5rem);
}

h3 {
  margin-bottom: 0.5rem;
  font-size: clamp(1.5rem, 3.5vw, 2.5rem);
}

.kicker {
  font-family: var(--ff-en-gothic);
  font-size: .85rem;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: rgba($color: $color-text, $alpha: .6);
}

.shortDescription {
  max-width: 40rem;
  font-family: var(--ff-en-gothic);
  font-size: 1.1rem;
  line-height: 1.7;
  letter-spacing: .06em;
  text-transform: uppercase;
  color: $color-primary;
  @include mq(md) {
    max-width: unset;
  }  
}

p {
  font-family: var(--ff-en);
  font-size: 1.35rem; // 15px × 1.4 ＝ 21px
  line-height: 1.45;
  color: $color-text;
}

ul {
  & > li {
    position: relative;
    padding-left: 1.1rem;
    font-family: var(--ff-en);
    font-size: 1.3rem;
    line-height: 1.25;
    list-style: none;
    color: $color-text;
    &::before {
      position: absolute;
      top: 0.3em;
      left: 0;
      width: 0.6em;
      height: 0.6em;
      content: "";
      border-radius: 999px;
      background-color: rgba($color: $color-primary, $alpha: 0.6);      
    }
    &:not(:first-of-type) {
      margin-top: .75rem;
    }
  }
}


p.explanation,
ul.explanation > li {
  font-family: var(--ff-en-gothic);
  font-size: 1rem;
  letter-spacing: .03em;
  color: rgba($color: $color-text, $alpha: .9);
}

ul.explanation > li {
  padding-left: 1.2em;      
  &::before {
    position: absolute;
    top: 0.15em;
    left: 0;
    width: 0.8em;
    height: 0.8em;
  }
  &:not(:first-of-type) {
    margin-top: .4em;
  }
}

select {
  appearance: none;
  text-align: center;
  text-align-last: center;
  padding-right: 3rem;
  background-image:
    linear-gradient(45deg, transparent 50%, rgba($color: $color-text, $alpha: .3) 50%),
    linear-gradient(135deg, rgba($color: $color-text, $alpha: .3) 50%, transparent 50%);
  background-position:
    calc(100% - 1.45rem) 50%,
    calc(100% - 1.05rem) 50%;
  background-size:
    .4rem .4rem,
    .4rem .4rem;
  background-repeat: no-repeat;
}

button,
input,
select,
textarea,
nav {
  font-family: var(--ff-gothic);
}

a {
  font-size: 0.9rem;
  font-feature-settings: "palt" 1;
  color: $color-black;
  text-decoration: none;
}


.cta {
  display: flex;
  justify-content: center;
  width: 100%;
  & > .btn {
    color: rgba($color: $color-white, $alpha: 1);
    cursor: pointer;
    &:hover {
      transform: translateY(-2px);
      box-shadow: 0px 2px 5px rgba($color: $color-black, $alpha: .2);
    }
    &--regular {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      padding: .75rem 1.5em;
      font-size: 1.1rem;
      text-align: center;
      background-color: $color-gold-dark;
      border: 1px solid rgba($color: $color-black, $alpha: .2);
      border-radius: 1000px;
      transition: .5s ease;
      &:hover {
        color: rgba($color: $color-text, $alpha: .7);
        background-color: rgba($color: $color-white, $alpha: .5);
        border: 1px solid rgba($color: $color-black, $alpha: .1);
        box-shadow: 0 2px 5px rgba($color: #000, $alpha: .6);
      }
    }
  }
}

.horizontal-wide {
  display: inline-block;
  transform: scaleX(3);
}

.tume-minus-1 {
  letter-spacing: -30%;
}

.br-for-smartphone {
  @include mq(md) {
    display: none;
  }
}